@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    margin: 0;
    padding: 0;
}



#cardss {
 
  border-radius: 2px;
  background-color: rgb(231, 235, 107);
}


h1 {
    font-weight: bold;
}